extends layout

block content
  div(class="main-content")
    div(id="generation-prompt-container")
      label Prompt
      input(id="generation-prompt-input" type="text" placeholder="Enter your prompt here")
      button(id="generation-prompt-button" disabled="disabled") Submit
    div(id="generation-toolbar-container")
      div
        label Resolution
        select(id="generation-toolbar-size")
          option(value="1024x1024") 1024x1024
          option(value="512x512") 512x512
          option(value="256x256") 256x256
      div
        label Number
        select(id="generation-toolbar-number")
          option(value=1) 1
          option(value=2) 2
          option(value=3) 3
          option(value=4) 4
          option(value=5) 5
          option(value=6) 6
          option(value=7) 7
          option(value=8) 8
          option(value=9) 9
          option(value=10) 10
      div
        label
          input(id="generation-toolbar-save" type="checkbox")
          span Save to /generations folder
    div(id="generation-container")
  div.lightbox-container#lightbox
    div.lightbox-content
      img#lightbox-image
      button.close-button(onclick="closeLightbox()") Close
  script(src="./javascripts/jquery.js")
  script(src="./javascripts/index.js")
