body {
  padding: 4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-content {
  max-width: 1600px;
  margin: auto;
}

label {
  margin-right: .5rem;
}

input, select, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Styles for the top UI // prompt */
#generation-prompt-container {
  display: flex;
  align-items: center;
}

#generation-prompt-input {
  width: 30rem;
  border: 1px solid rgba(0, 0, 0, .3);
  height: 2.5rem;
  box-sizing: border-box;
}

#generation-prompt-button {
  transition: background 300ms;
  height: 2.5rem;
  width: 6rem;
  box-sizing: border-box;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: rgba(0, 0, 0, .3);
}

button:enabled {
  cursor: pointer;
}

button:enabled:hover {
  background: #d9d9d9;
}

/* Styles for the top UI // toolbar */
#generation-prompt-container, #generation-toolbar-container {
  padding: 1rem;
  background: #f2f2f2;
}

#generation-toolbar-container {
  display: flex;
  align-items: center;
  margin-top: .5rem;
  flex-wrap: wrap;
  grid-gap: 0.5rem;
}

#generation-toolbar-container div, label {
  display: flex;
  align-items: center;
}

#generation-toolbar-size, #generation-toolbar-number, #generation-prompt-input {
  padding: .5rem;
}

#generation-toolbar-save {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
  margin-right: .5rem;
}

/* Styles for the templates */
.generation-template-container {
  padding: 1rem 0rem;
  background: #f2f2f2;
  margin-top: 1rem;
}

.generation-template-loading {
  position: relative;
}

.generation-template-header div {
  margin-left: 1rem;
}

.generation-template-images {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
}

.generation-template-images img {
  width: 250px;
  height: 250px;
  padding: .5rem;
}

.generation-template-time {
  margin-top: .5rem;
}

.generation-template-status, .status-success, .status-failure, .generation-template-time {
  font-size: .7rem;
}

.status-success {
  color: green;
  font-weight: bold;
}

.status-failure {
  color: red;
  font-weight: bold;
}

/* Styles for the spinner */
.spinner {
  width: 60px;
  height: 60px;
  position: relative;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #333;
  border-radius: 50%;
  animation: spin 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  border-color: #333 transparent transparent transparent;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Styles for the lightbox container */
.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Styles for the lightbox content */
.lightbox-content {
  background-color: white;
  padding: 20px;
}

/* Styles for the close button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}
